:root {
  --primary-color: #ffffff;
  --secondary-color: #1465ff;
  --tertiary-color: #35353d;
  --span-color: #777;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
  background-color: var(--primary-color);
}

/* COMPONENTS */

span {
  color: var(--span-color);
}

.span.blue {
  color: var(--secondary-color);
}

.btn {
  display: inline-block;
  /* background-color: #303542; */
  padding: 1rem 2rem;
  border-radius: 20px;
  font-size: 1.6rem;
  text-decoration: none;
  border: 1.5px solid var(--tertiary-color);
}

/* TYPOGRAPHY */
.heading-primary {
  font-size: 7rem;
  font-weight: 550;

  line-height: 1.1;
  margin-bottom: 3rem;
  text-align: center;
}

.heading-primary:span {
  color: var(#777);
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.heading-secondary.bg {
  font-size: 4.5rem;
  font-weight: 550;
  text-align: center;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.2;
  margin: 1rem;
  margin-left: 0;
}

.paragraph {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: center;
  width: 62%;
  margin: 0 auto;
}

.paragraph_small {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  width: 90%;
}

.paragraph_right {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2rem;

  width: 90%;
}

/* UTILITIES */
.center-children {
  padding-left: 8vw !important;
  padding-right: 8vw !important;
}

/* NAVIGATION */
.navigation {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.8px solid #777;
  cursor: pointer;
}

.navigation ul,
a {
  color: #000000;
}

.navigation .logo {
  flex: 0.3;
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  vertical-align: center;
}

.navigation ul.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: bold;
  gap: 5rem;
}

.navigation ul.nav_list li a {
  text-decoration: none;
}
.navigation .nav_actions.a {
  gap: 0rem;
}

.navigation #checkbox {
  display: none;
}

.navigation .nav_button {
  display: none;
}

/* HEADER */

.header.center-children {
  margin-top: 5rem;
}

.header .btn_wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

.header .btn_wrapper .btn.blue {
  background-color: #1465ff;
  color: #ffffff;
  border: none;
}

.header .btn_wrapper .btn.bold {
  font-weight: bold;
}

.header .composition.hero {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.header .composition.hero .composition {
  width: 45rem;
  height: 50rem;
}

.header .composition.hero .composition img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.header .composition.hero .composition.big {
  width: 100%;
  height: 50rem;
  object-fit: contain;
}

.header .composition.hero .composition.big img {
  border-radius: 20px;
}

/* SECTION MY_OFFERINGS */

.my-offerings.center-children {
  margin-top: 2rem;
}

.textbox_column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  gap: 3rem;
}

.row {
  box-shadow: 1px 1px 1px 1px rgba(198, 195, 195, 0.6);
  border: #c6c3c399 1px solid;
  padding: 1rem 1.2rem;
  border-radius: 15px;
}

.icon {
  width: 3rem;
  height: 3rem;
  padding: 2.3rem 2.3rem;
  margin-top: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 101, 255, 0.6);
}

/* EXPERIENCE */

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.textbox .btn.blue {
  background-color: #1465ff;
  color: #ffffff;
  border: none;
}

/* RESPONSIVE */

@media only screen and (max-width: 1200px) {
  .btn {
    display: inline-block;

    padding: 1rem 1.5rem;
    border-radius: 20px;
    font-size: 1.6rem;
    text-decoration: none;
    border: 1.5px solid var(--tertiary-color);
  }

  .span.blue {
    color: var(--primary-color);
  }

  .heading-primary {
    font-size: 6.5rem;
  }

  .center-children {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
  }
}

@media only screen and (max-width: 900px) {
  /* NAVIGATION */
  .navigation {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    border-bottom: 0.8px solid #777;
  }

  .navigation .nav_list {
    top: 0;
    right: 0;
    gap: 3rem;
    display: flex;
    height: 100vh;
    padding: 2rem;

    position: fixed;
    cursor: pointer;
    list-style: none;
    font-weight: bold;
    font-size: 1.3rem;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    width: min(100vw, 30rem);
    backdrop-filter: blur(2px);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: rgba(20, 101, 255, 0.8);
  }

  .navigation .nav_button {
    z-index: 1;
    display: block;
    font-size: 3.3rem;
    background-color: var(--secondary-color);
    padding: 5px 9px;
    border-radius: 15px;
    color: #fff;
  }

  .navigation .nav_button span {
    color: #fff;
  }

  .navigation .nav_button span.close {
    display: none;
  }

  .navigation .nav_button span.open {
    display: flex;
  }

  .navigation #checkbox:checked ~ .nav_list {
    transform: translatex(0);
  }

  .navigation #checkbox:checked ~ .nav_button span.close {
    display: flex;
  }

  .navigation #checkbox:checked ~ .nav_button span.open {
    display: none;
  }

  .header .btn_wrapper .btn.blue {
    background-color: #1465ff;
    color: #ffffff;
    border: none;
  }

  .header .btn_wrapper .btn.bold {
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .navigation {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    border-bottom: 0.8px solid #777;
  }

  .heading-primary {
    font-size: 5.5rem;
  }

  .heading-secondary.bg {
    font-size: 3.5rem;
    font-weight: 550;
    text-align: center;
  }
  .paragraph {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .textbox_column {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 3.5rem;
    margin-bottom: 3rem;
    gap: 1rem;
  }

  .center-children {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .textbox .btn.blue {
    background-color: #1465ff;
    color: #ffffff;
    border: none;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .navigation .nav_button {
    z-index: 1;
    display: block;
    font-size: 2.5rem;
    background-color: var(--secondary-color);
    padding: 5px 1.5rem;
    border-radius: 15px;
    color: #fff;
  }

  .header .composition.hero {
    flex-direction: column;
    gap: 1.5rem;
  }

  .header .composition.hero .composition {
    width: 45rem;
    height: 30rem;
  }

  .header .composition.hero .composition img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .header .composition.hero .composition.big {
    width: 100%;
    height: 30rem;
    object-fit: contain;
  }
  .heading-secondary.bg {
    font-size: 2.8rem;
    font-weight: 550;
    text-align: center;
  }
  .paragraph {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-align: center;
    width: 96%;
    margin: 0 auto;
  }

  .center-children {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
  }
}

@media only screen and (max-width: 400px) {
  .heading-primary {
    font-size: 3.5rem;
    margin-top: 2rem;
  }

  .heading-secondary {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .heading-secondary.bg {
    font-size: 2.5rem;
    font-weight: 550;
    text-align: center;
  }

  .paragraph_small {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    width: 90%;
  }

  .paragraph_right {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 2rem;

    width: 90%;
  }

  .center-children {
    padding-left: 3vw !important;
    padding-right: 3vw !important;
  }

  .navigation .nav_button {
    z-index: 1;
    display: block;
    font-size: 2.3rem;
    background-color: var(--secondary-color);
    padding: 5px 1.2rem;
    border-radius: 15px;
    color: #fff;
  }

  .header .btn_wrapper {
    text-align: center;
    gap: 1rem;
  }

  .header .composition.hero {
    flex-direction: column;
    gap: 1.5rem;
  }

  .header .composition.hero .composition {
    width: 100%;
    height: 25rem;
  }

  .header .composition.hero .composition img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .header .composition.hero .composition.big {
    width: 100%;
    height: 25rem;
    object-fit: contain;
  }
}
